# Database connection string for Prisma ORM - (REQUIRED)
DATABASE_URL=

# Mail server configuration - (REQUIRED)
MAIL_PORT=
MAIL_HOST=
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_TO=

# DW Scheduler settings in DAYS - Number of days before expiration to trigger actions - Default 15 days - (REQUIRED)
DW_EXPIRATION_THRESHOLD=15

# API key for WhoisJSON service - (OPTIONAL)
WHOISJSON_API_KEY=
